<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>
	<div th:replace="fragments/layout :: app-instance"></div>

	<!--  PAGE BODY -->
	<span id="tutorialName" style="display: none;">index</span>

	<div class="container">

		<h2>Services - Add Attendees</h2>

		<div class="row">
			<form action="add-attendee" method="post" role="form">
				<div class="form-group">
					<label>First Name</label> <input type="text" class="form-control"
						id="firstName" name="firstName"></input>
				</div>
				<div class="form-group">
					<label>Last Name</label> <input type="text" class="form-control"
						id="lastName" name="lastName"></input>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" class="form-control"
						id="emailAddress" name="emailAddress"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
				<a href="list-attendees" class="btn btn-default">Cancel</a>
			</form>
		</div>

<!-- 
	<form action="add-attendee" method="post">
		First Name: <input type="text" id="firstNamefirstName"
			name="firstName" /> Last Name:<input type="text" id="lastName"
			name="lastName" /> Email Address:<input type="text"
			id="emailAddress" name="emailAddress" /> <input type="submit"
			class="medium button" value="Add" /> <a href="list-attendees"
			class="medium button">Cancel</a>
	</form>
 -->


	<div th:replace="fragments/layout :: tutorial"></div>

	</div>

	<!--  /.PAGE BODY -->

	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>