<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>


	<nav th:replace="fragments/layout :: navigation"></nav>
	<!--  PAGE BODY -->
	<div class="container" role="main">

			<span id="tutorialName" style="display: none;">services</span>

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>Services</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div th:replace="fragments/list :: attendeeList">
					<p>Attendees Table</p>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					<div class="row">
						<a href="add-attendee" class="btn btn-default">Add Attendee</a> <a
							href="search-attendees" class="btn btn-default">Search</a> 
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/layout :: tutorial"></div>

	</div>

	<!--  /.PAGE BODY -->

	<div th:replace="fragments/layout :: app-instance"></div>
	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>