<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>

	<!--  PAGE BODY -->
	<div class="container" role="main">

		<span id="tutorialName" style="display: none;">bluegreen</span>

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>Blue Green Deployment</h1>
		</div>

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="bluegreenBlock">
						<p>Shows the load balancing between versions based on route
							mappings</p>
					</div>
					<div id="donut-example" style="height: 250px;"></div>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<a href="javascript:startTimer();" class="btn btn-default">Start</a>
						<a href="javascript:stopTimer();" class="btn btn-default">Stop</a>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/layout :: tutorial"></div>

	</div>

	<script>
		var INTERVAL = 1000
		var timerID = 0;
		var versions = {};
		var startTime;

		var chartData = [ {
			label : "blue",
			value : 10
		}, {
			label : "green",
			value : 1
		} ]

		var chart = Morris.Donut({
			element : 'donut-example',
			colors: [ "#90A6D4", "#90D49C"],
			data : chartData
		});

		function startTimer() {
			timerID = setInterval(startLoad, INTERVAL);
		}

		function stopTimer() {
			if (timerID)
				clearInterval(timerID);
		}

		function startLoad() {

			$
					.getJSON(
							'/health',
							function(health) {

								if (health.db.database in versions) {
									versions[health.db.database] = 1 + versions[health.db.database];
								} else {
									versions[health.db.database] = 1;
								}

								var html = '';
								
								chartData = [];
								
								for ( var version in versions) {
									html += '<p>' + version + '<b> = '
											+ versions[version] + '</b></p>'

									item = {};
									item.label = version;
									item.value = versions[version];
									chartData.push(item);
								}

								chart.setData(chartData);

								$('#bluegreenBlock').html(html);
							});

		}
	</script>

	<!--  /.PAGE BODY -->

	<div th:replace="fragments/layout :: app-instance"></div>
	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>

