<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>

	<!--  PAGE BODY -->
	<div class="container" role="main">

		<span id="tutorialName" style="display: none;">bluegreen</span>

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>Blue Green Deployment</h1>
		</div>

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="bluegreenBlock">
						<p>Shows the load balancing between application versions based on route
							mappings. <a data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne">Learn more - Description</a></p>
					</div>
					<div id="donut-example" style="height: 250px;"></div>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<a href="javascript:startTimer();" class="btn btn-default">Start</a>
						<a href="javascript:stopTimer();" class="btn btn-default">Stop</a>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/layout :: tutorial"></div>

	</div>

	<script>
		var INTERVAL = 1000
		var timerID = 0;
		var versions = {};
		var startTime;
		
		var colors = [ "#90A6D4", "#90D49C" ];

		var chartData = [ {
			label : "blue",
			value : 10
		}, {
			label : "green",
			value : 1
		} ]

		var chart = Morris.Donut({
			element : 'donut-example',
			colors : colors,
			data : chartData,
			resize : true
		});

		function startTimer() {
			timerID = setInterval(startLoad, INTERVAL);
		}

		function stopTimer() {
			if (timerID)
				clearInterval(timerID);
		}

		function startLoad() {

			$.get("/bluegreen-check", function(appName) {

				if (appName in versions) {
					versions[appName] = 1 + versions[appName];
				} else {
					versions[appName] = 1;
				}

				var html = '';

				chartData = [];

				// MMB: This can be templated instead of creating HTML in the function
				var i = 2;
				for ( var version in versions) {
					html += '<p><b><span style="color:' + colors[i%2] + '">' + version + '</span></b></p>'

					i++;
					
					item = {};
					item.label = version;
					item.value = versions[version];
					chartData.push(item);
				}

				chart.setData(chartData);

				$('#bluegreenBlock').html(html);
			});

		}
	</script>

	<!--  /.PAGE BODY -->

	<div th:replace="fragments/layout :: app-instance"></div>
	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>

