<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>
	<div th:replace="fragments/layout :: app-instance"></div>

	<!--  PAGE BODY -->
	<span id="tutorialName" style="display: none;">index</span>
		
	<div class="container">
	
		<h2>PCF ERS Application</h2>
		
		<div th:replace="fragments/layout :: tutorial"></div>
		
	</div>
	<!--  /.PAGE BODY -->

	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>