<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body>

	<div th:replace="fragments/header :: header">
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h4>Killed Application Instance Information</h4>
				<br />
				<p>
					The instance index is <b th:text="${instanceIndex}"></b>
				</p>
				<p>
					The instance address is <b th:text="${instanceAddr}"></b>
				</p>
			</div>
			<hr />
		</div>
	</div>

</body>

</html>